{% extends 'my_app/base.html' %}
{% block head %}
{%load static%}
<link rel="stylesheet" href="{% static "my_app/new.css" %}" />
{% endblock %}
{% block content %}
<div class="booking">
    <div class="b_form">
        <form method="post" action=''>
        {%csrf_token%}
		&nbsp;
            <div class="date-picker">
		        <div class="selected-date" name="date"></div>
		        <div class="dates">
			        <div class="month">
				        <div class="arrows prev-mth">&lt;</div>
				        <div class="mth"></div>
				        <div class="arrows next-mth">&gt;</div>
			        </div>
			        <div class="days"></div>
					<div class="btn bt-success search_time" type="button">Search</div>
		        </div>
            </div>
			<div class="time_picker">
				<div class="time_slot" >
					<div class='selected-time'></div>
				</div>
			</div>
			<button class="btn btn-sucess form_submit">SUBMIT</button>
        </form>
        <div id='cnt' style='display:none;'>{{count|safe}}</div>
        <div id='cnt_d' style='display:none;'>{{t_count|safe}}</div>
    </div>
</div>
<script src="{% static "my_app/main.js" %}"></script>
{% endblock %}