{% extends 'my_app/base.html' %}
{% block content %}
<br>
<div class="container" style="height:auto;padding-bottom: 10px; width: 50%;">&nbsp;
  <div class="heading" style="margin-top: 10px; margin-bottom: 20px;"><h3>MY BOOKINGS</h3></div>
<table class="table table-striped table-bordered table-hover" 
  style="
    border-color:black;
    margin-left:0px;
    height:auto;
  ">
  <thead>
    <tr>
        <th scope="col">Booking made on</th>
        <th scope="col">Name</th>
        <th scope="col">Booked For</th>
        <th scope="col">Time</th>
    </tr>
  </thead>
  <tbody class="table-group-divider" >
  {% for b in books %}
  <trbody></trbody>
    <tr>
        <th scope="row">{{b.bokked_d.date}}</th>
        <th>{{b.player}}</th>
        <td>{{b.date}}</td>
        <td>{{b.time}}</td>
    </tr>
  </trbody>
  {% endfor %}
  </tbody>
</table>
</div>
{% endblock %}