{% extends 'my_app/base.html' %}
{% block content %}
<section style="
height: 85vh;
display: flex;
position: relative;
justify-content: center;
align-items: center;">
    <div class="container" style=" display:flex;flex-direction:column; overflow:hidden;">
        <div class="heading" style="margin-bottom: 20px;margin-top:30px;margin-bottom:30px;"><h3>EDIT PROFILE </h3></div>

        <form action="" method="post" style="display: flex;flex-direction: column; align-items: center;">
            {%csrf_token%}
            {{al.as_p}}
            <br>
            <span><button class="butn" style="width:auto;">SUBMIT</button></span>
        </form>
    </div>
</section>
{% load static %}<script src="{% static 'my_app/edit_prof.js' %}"></script>
{% endblock %}