{% extends 'my_app/base.html' %}
{% block head %}
{%load static%}
<link rel="stylesheet" href="{% static "my_app/new.css" %}" />
{% endblock %}
{% block content %}

  <section style="
  height: 85vh;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;">
  <div class="container-main">
    
    {% if reg_error%}
    <div class="container" style="padding-top: 5%;">
    <span class="msgbox" style="margin-left: 30%;">{{reg_error}}</span>
    <div class="det" style="margin-top: 8%;">
      Your password cant be too similar to your other personal information.<br><br>
      Your email should not be registered.<br><br>
      Your password must contain at least 8 characters.<br><br>
      Your password can't be a commonly used password.<br><br>Your password can't be entirely numeric. <br><br>Your phone number must be 10 digits.
    </div>
    <a href="/register"><button class="butn" style="background-color:skyblue; margin-top: 5%; margin-left:40%">Try Again</button></a>
    </div>
    {% else %}
    <div class="heading"><h3>REGISTER </h3></div>
    <br>
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
        <div class="sub-container" style="flex-direction: column;">
          <div clas="cont" style="display: flex; ">
            <div class="half_form">
              <label for="fname">Full name:</label><br>
              {{register_form.name}}
              <br><br>
              <label for="phone">Phone no.:</label><br>
              {{register_form.phone}}
              <br><br>
              <label for="fname">Player Image:</label><br>
              {{register_form.pimg}}
              <br><br>
            </div>
            <div class="half_form_II">
              <label for="email">Email:</label><br>
              {{register_form.email}}
              <br><br>
              <label for="password1">Password:</label><br>
              {{register_form.password1}}
              <br><br>
              <label for="password2">Confirm Password:</label><br>
              {{register_form.password2}}
              <br><br>
              
              <button class="butn" style="background-color:skyblue">REGISTER</button>
            </div>
          </div>
          <div style="margin-left:37.7%; margin-top:20px;">
          {% endif %}
          </div>
        </div>
        <!-- {{ register_form.as_p }}
        <button class="butn" style="background-color:skyblue" type="submit">REGISTER</button>
        {%if reg_error%}
        <dailog openModal class="msgbox" > 
            {{reg_error}}
        </dialog> 
        {% endif %} -->
    </form>
  </div>
  </section>
{% endblock %}